<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <title>User Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!--Navigation Panel TODO logout ling should be here-->
<ul class="nav navbar navbar-dark bg-dark navbar navbar-expand-lg">
    <li class="nav-item">
        <a th:each="user:${users}">
            <h5 class="text-white" th:text="${user.getEmail()}">u@mail.com</h5>
        </a>
    </li>
    <li class="nav-item"><h5 class="text-white font-weight-normal">&nbsp;with roles:&nbsp;</h5></li>
    <li class="nav-item">
        <a th:each="user:${users}">
            <h5 class="text-white" th:text="${user.getRolesAsString()}">u@mail.com</h5>
        </a>
    </li>
</ul>


<div class="container">
    <div class="row">
        <div class="col-2">
            fwewef
        </div>
        <div class="col-8">
            fwwfe
        </div>
        <div class="col-2">
            fwwfe
        </div>
    </div>
</div>

<!--Main part of page TODO-->
<div class="row">
    <div class="col-lg-2 col-md-2 col-ht-2">
        <nav class="navbar sticky-top navbar-dark bg-primary">
                <h4 class="navbar-brand">User</h4>
        </nav>
    </div>
    <div class="col-lg col-md-6">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-info" th:each="user:${users}">
                <td th:text="${user.getId()}"/>
                <td th:text="${user.getName()}"/>
                <td th:text="${user.getLastName()}"/>
                <td th:text="${user.getAge()}"/>
                <td th:text="${user.getEmail()}"/>
                <td th:text="${user.getRolesAsString()}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--TODO Left part of page-->
<!--<div class="d-flex flex-column-reverse">-->
<!--    <div class="p-2 flex-box h5">User</div>-->
<!--</div>-->
<!--<nav class="navbar sticky-top navbar-dark bg-primary">-->
<!--    <h6 class="navbar-brand">Usуer</h6>-->
<!--</nav>-->

<!--&lt;!&ndash;Table of one user&ndash;&gt;-->
<!--<table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">ID</th>-->
<!--        <th scope="col">First Name</th>-->
<!--        <th scope="col">Last Name</th>-->
<!--        <th scope="col">Age</th>-->
<!--        <th scope="col">Email</th>-->
<!--        <th scope="col">Roles</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr class="table-info" th:each="user:${users}">-->
<!--        <td th:text="${user.getId()}"/>-->
<!--        <td th:text="${user.getName()}"/>-->
<!--        <td th:text="${user.getLastName()}"/>-->
<!--        <td th:text="${user.getAge()}"/>-->
<!--        <td th:text="${user.getEmail()}"/>-->
<!--        <td th:text="${user.getRolesAsString()}"/>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--Logout button TODO should be in nav panel-->
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>

<!--JavaScript-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>